Source: dotfiles-fbest
Section: libs
Priority: optional
Maintainer: Space One <space@wechall.net>
Standards-Version: 3.9.8
Build-Depends:
 debhelper-compat (=13),
 dh-exec,

Package: dotfiles-fbest
Architecture: all
Depends:
 python3-pip,
 ${misc:Depends},
 ${python:Depends},
Provides:
 ${python:Provides},
Recommends:
 debhelper,
 dpkg-dev,
 adb,
 ark,
# autopep8,
 bugzilla-cli,
 cheese,
 chromium,
 chromium-l10n,
 chromium-ublock-origin,
 cifs-utils,
 cups,
 cups-core-drivers,
 cups-daemon,
 curl,
 cyrus-admin,
 dash,
 dch,
 debconf,
 devscripts,
 dhcp-client,
 diff,
 diffstat,
 dig,
 dnsutils,
 dolphin,
 ffmpeg,
 file,
 findutils,
 firmware-iwlwifi,
 foot,
# flake8,
 fping,
 gawk,
 gdb,
 gimp,
 git,
 git-svn,
 gitk,
 gnupg2,
 grep,
 grim,
 gwenview,
 heimdal-clients,
 htop,
 i3,
 ifconfig,
 imagemagick,
 inetutils-tools,
 inkscape,
 inotify-tools,
 iptables-persistent,
 ipython,
 jshint,
 jslint,
 k3b,
 kate,
 kaze,
 kde-cli-tools,
 kde-style-breeze,
 xdg-desktop-portal-gtk,
 kinit,
 ldap-utils,
 ldapvi,
 less,
 libcups2,
 libnotify,
 libnotify4,
 libreoffice,
 libx11-dev,
 lightning,
 locate,
 lsof,
 mkisofs,
 mplayer,
 mrxvt,
 mtr-tiny,
 ncdu,
 net-tools,
 network-manager-gnome,
 network-manager-openvpn,
 nfs-kernel-server,
 nmap,
 nodejs,
 npm,
 nscd,
 okteta,
 okular,
 openvpn,
 patch,
 patchutils,
 pavucontrol,
 php5,
 plasma-integration,
 pstoedit,
# pyflakes,
 pylint,
 pyqt4-dev-tools,
 python-yaml,
 python3-all,
 python3-argcomplete,
# python3-autopep8,
# python3-concurrent.futures,
 python3-coverage,
 python3-dateutil,
# python3-flake8,
 python3-git,
 python3-heimdal,
 python3-image,
 python3-ldap,
 python3-libtre,
 python3-libvirt,
 python3-magic,
 python3-mimeparse,
 python3-nmap,
 python3-notify,
 python3-pam,
 python3-paramiko,
 python3-pil,
 python3-pip,
 python3-polib,
 python3-pyasn1-modules,
 python3-pycurl,
 python3-pytest,
 python3-pytest-cov,
 python3-qt4-dbus,
 python3-smbpasswd,
 python3-support,
 python3-tornado,
# python3-pep8-naming,
 rdate,
 rdesktop,
 resolvconf,
 rhino,
 rsync,
 rxvt,
 rxvt-perls,
 rxvt-unicode,
 samba,
#  scrot,
 smbclient,
 socat,
 sqlite3,
 sshfs,
 strace,
 subversion,
# sudo,
 sway,
 tar,
 thunderbird,
 thunderbird-l10n-de,
 tmux,
 tree,
 ucs-tools,
 ucslint,
 univention-config-dev,
 univention-debug-dev,
 unrar,
 upx,
 vim,
 virt-viewer,
 vlc,
 weechat,
 wget,
 whois,
# wine,
# wine32,
 wl-clipboard,
 wtype,
 x-window-system-core,
 xdg-desktop-portal-wlr,
 xdotool,
 xsane,
 xsel,
 ydotool,
# zsh,
Description: personal dotfiles

Package: dotfiles-ucs-root
Architecture: all
Depends:
 debhelper,
 dh-python,
 dpkg-dev,
 python3-pip,
 univention-config-dev,
 univention-dojo-dev,
 univention-management-console-dev,
 ${misc:Depends},
 ${python:Depends},
Provides:
 ${python:Provides},
Description: root dotfiles for an UCS system
