Source: dotfiles-fbest
Section: libs
Priority: optional
Maintainer: Space One <space@wechall.net>
Standards-Version: 3.9.8
Build-Depends:
 debhelper,
 dh-exec,

Package: dotfiles-fbest
Architecture: all
Depends:
 python-pip,
 python3-pip,
 ${misc:Depends},
 ${python:Depends},
Provides:
 ${python:Provides},
Recommends:
 ark,
 autopep8,
 bugzilla-cli,
 cheese,
 chromium,
 chromium-browser,
 chromium-l10n,
 chromium-ublock-origin,
 cifs-utils,
 cups,
 cups-core-drivers,
 cups-daemon,
 curl,
 cyrus-admin,
 dash,
 dch,
 debconf,
 debhelper,
 devscripts,
 dhcp-client,
 diff,
 diffstat,
 dig,
 dnsutils,
 dolphin,
 dpkg-dev,
 ffmpeg,
 file,
 findutils,
 firmware-iwlwifi,
 flake8,
 fping,
 gawk,
 gdb,
 gimp,
 git,
 git-svn,
 gitk,
 grep,
 gwenview,
 heimdal-clients,
 i3,
 ifconfig,
 imagemagick,
 inetutils-tools,
 inkscape,
 inotify-tools,
 iptables-persistent,
 ipython,
 jshint,
 jslint,
 k3b,
 kate,
 kaze,
 kinit,
 ldap-utils,
 ldapvi,
 less,
 libcups2,
 libnotify,
 libnotify4,
 libreoffice,
 libx11-dev,
 lightning,
 locate,
 lsof,
 mkisofs,
 mplayer,
 mrxvt,
 mtr-tiny,
 ncdu,
 net-tools,
 network-manager-openvpn,
 nfs-kernel-server,
 nmap,
 node,
 nodejs,
 npm,
 nscd,
 okteta,
 okular,
 openvpn,
 patch,
 patchutils,
 pavucontrol,
 pep8,
 php5,
 plasma-integration,
 pstoedit,
 pyflakes,
 pylint,
 pyqt4-dev-tools,
 python-all,
 python-argcomplete,
 python-autopep8,
 python-concurrent.futures,
 python-coverage,
 python-dateutil,
 python-flake8,
 python-git,
 python-heimdal,
 python-image,
 python-ipaddr,
 python-ldap,
 python-libtre,
 python-libvirt,
 python-magic,
 python-mimeparse,
 python-nmap,
 python-notify,
 python-pam,
 python-paramiko,
 python-pil,
 python-pip,
 python-polib,
 python-pyasn1-modules,
 python-pycurl,
 python-pytest,
 python-pytest-cov,
 python-qt4-dbus,
 python-smbpasswd,
 python-support,
 python-tornado,
 python-yaml,
 python3-flake8-docstrings,
 python3-flake8-polyfill,
 python3-pep8-naming,
 rdate,
 rdesktop,
 resolvconf,
 rhino,
 rsync,
 rxvt,
 rxvt-perls,
 rxvt-unicode,
 samba,
 scrot,
 smbclient,
 socat,
 sqlite3,
 sshfs,
 strace,
 subversion,
 sudo,
 tar,
 thunderbird,
 thunderbird-l10n-de,
 tmux,
 tree,
 ucs-tools,
 ucslint,
 univention-config-dev,
 univention-dojo-dev,
 univention-management-console-dev,
 unrar,
 upx,
 vim,
 virt-viewer,
 vlc,
 weechat,
 wget,
 whois,
 wine,
 wine32,
 x-window-system-core,
 xdotool,
 xsane,
 xsel,
 zsh,
Description: personal dotfiles

Package: dotfiles-ucs-root
Architecture: all
Depends:
 debhelper,
 dh-python,
 dpkg-dev,
 python2.7-dev,
 univention-config-dev,
 univention-dojo-dev,
 univention-management-console-dev,
 python-pip,
 python3-pip,
 ${misc:Depends},
 ${python:Depends},
Provides:
 ${python:Provides},
Description: root dotfiles for an UCS system
