@-moz-document url-prefix(https://forge.univention.org/bugzilla/query.cgi) {
	select[multiple=multiple] {
		height: 400px !important;
	}
	form#Create select[name=component] {
		height: 350px;
	}
	td#comment_status_commit textarea {
		width: 1000px;
	}
}
@-moz-document url-prefix(https://forge.univention.org/bugzilla/show_bug.cgi) {
	.bz_comment_text {
		width: 100%!important;
	}
	select#cf_bug_group {
		height: 430px!important;
	}

	table#bz_big_form_parts > tbody > tr {
		display: flex!important;
		flex-direction: column!important;
		width: 99%!important;
	}
	table#bz_big_form_parts,
	textarea#comment,
	div#add_comment > table {
		width: 99%!important;
	}

	#bz_group_visibility_section {
		margin-bottom: 1.5em;
	}
}
